@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="account-menu">
            <button type="button" class="account-trigger" aria-haspopup="true" aria-expanded="false">
                <svg class="account-icon" viewBox="0 0 24 24" width="16" height="16" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M12 12c2.7 0 4.9-2.2 4.9-4.9S14.7 2.2 12 2.2 7.1 4.4 7.1 7.1 9.3 12 12 12zm0 2.4c-3.3 0-9.8 1.6-9.8 4.9v2.5h19.6v-2.5c0-3.3-6.5-4.9-9.8-4.9z" />
                </svg>
                <span class="sr-only">Account menu</span>
            </button>
            <div class="account-dropdown" role="menu">
                <span class="account-email">@context.User.FindFirst(ClaimTypes.Email)?.Value</span>
                <div class="account-divider"></div>
                <a class="account-dropdown-link" href="/account/logout" role="menuitem">Logout</a>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
