<nav class="neba-navbar">
    <div class="neba-navbar-wrapper">
        <div class="neba-navbar-content">
            <div class="neba-navbar-header">
                <a href="" class="text-xl font-semibold text-neba-blue-brand no-underline">
                    Neba.Website
                </a>
                <button class="neba-menu-toggle" @onclick="ToggleNavMenu" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <ul class="neba-nav-menu @NavMenuCssClass">
                <li class="neba-nav-item">
                    <NavLink class="neba-nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="neba-nav-item">
                    <NavLink class="neba-nav-link" href="counter">
                        Counter
                    </NavLink>
                </li>
                <li class="neba-nav-item">
                    <NavLink class="neba-nav-link" href="weather">
                        Weather
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? null : "active";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
